<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        tr, th { text-align: center; }
    </style>
</head>
<body>
<div class="container">
    <h2>Stack Overflow Statistics</h2>
    <p>
        The table contains answer statistics from {{ from_date }} until {{ to_date }}
        <br> Generated at {{ cur_time }} (UTC)
    </p>
    <table class="table">
        <thead>
        <tr> 
            <th colspan="2">Top 10 Answers</th>
            <th rowspan="2">Total accepted answers</th>
            <th rowspan="2">Average score of accepted answers</th>
            <th rowspan="2">Average answer count per question</th>
             
        </tr>
        <tr>
            <th>Answer ID</th>
            <th>Comment count</th>
        </tr>
        </thead>
        <tbody>
        {% for
        accepted_answers,avg_score_accepted,avg_cnt_per_q,answer_ids,comment_cnt
        in
        container %}
        <tr>
            <td><a href="http://stackoverflow.com/a/{{ answer_ids }}">{{answer_ids}}</a></td>
            <td>{{ comment_cnt }}</td>
            {%- if accepted_answers -%}
                <td>{{ accepted_answers }}</td>
            {% endif %}
            {%- if avg_score_accepted -%}
                <td>{{ avg_score_accepted }}</td>
            {% endif %}
            {%- if avg_cnt_per_q -%}
                <td>{{ avg_cnt_per_q }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>